* {
	margin: 0;
	padding: 0;
	font-family: "PTSansRegular" , Arial, "Helvetica CY", sans-serif;;
}
body {
	background: url(../img/bg_n.png) no-repeat;
	background-size: 100% auto;
	/*background: #F2F2F2;*/
}
.container {
	margin: auto;
	width: 980px;
}
header {
	border-top: 2px solid #d7b4ff;
	background: #7900c6;
	height: 35px;
	border-bottom: 1px solid white;
}
.nav {
	margin-top: 7px;
	margin-right: auto;
	margin-left: auto;
	width: 265px;
}
.header-nav {
	margin:auto;
}
.header-nav li{
	float: left;
	list-style: none;
	margin-right: 15px;
}
.header-nav li a {
	color: white;
	font-size: 13px;
}
.header-nav li a:hover {
	color: #B5B5B5;
}
.header-logo {
	padding-top: 20px;
}
.logo {
	width: 250px;
	margin: auto;
}
.logo img {
	width: 250px;
}
.number p{
	float: right;
	margin-top: -90px;
	margin-right: 15px;
}
.numb {
	font-weight: bold;
	font-size: 23px;
	color: #3641C1;
}
.number-ps {
	padding-top: 10px;
	font-size: 15px;
	color:#6766A0;
}
.garant {
	margin-left: 10px;
	float: left;
	margin-top: -105px;
}
.garant-ps {
	font-size: 15px;
	color:#6766A0;
}
.nav-bar-ul {
	margin-top: 15px;
	height: 40px;
	border-radius: 4px;
	background: #0065f4;
	background: -moz-linear-gradient(top,  #0065f4 0%, #003ebc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0065f4), color-stop(100%,#003ebc));
	background: -webkit-linear-gradient(top,  #0065f4 0%,#003ebc 100%);
	background: -o-linear-gradient(top,  #0065f4 0%,#003ebc 100%);
	background: -ms-linear-gradient(top,  #0065f4 0%,#003ebc 100%);
	background: linear-gradient(to bottom,  #0065f4 0%,#003ebc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0065f4', endColorstr='#003ebc',GradientType=0 );

	box-shadow: 1px 1px 5px #ADADAD;
	border: 1px solid #0348ae;
}
.nav-bar-ul li {
	padding-top: 10px;
	min-width: 194.6px;
	width: auto;
	height: 30px;
	text-align: center;
	float: left;
	list-style: none;
	border-right: 1px solid white;
}
.nav-bar-ul li a div {
	padding-top: 10px;
	margin-top: -10px;
	height: 40px;
}
.nav-bar-ul li:last-child {
	border-right: none;
}
.nav-bar-ul li:hover {
	cursor: pointer;
	background: #00339B;
}
.nav-bar-ul li a {
	text-decoration: none;
	color: white;
	font-size: 14px;
}
.about h3{
	color: #3641C1;
}
.about-kr {
	color: #6C6C6C;
	font-size: 13px;
	letter-spacing: 1px;
	word-spacing: 0.5em;
	text-align: justify;
	text-shadow: 0 0 2px #D6D6D6;
}
.about-job {
	border-radius: 5px;
	box-shadow:inset 0 0 8px #878787; 
	background: white;
	height: 210px;
	margin-bottom: 20px;
	border-bottom: 1px solid #808080;
}
.about-job ul {
	margin-left: 15px;
}
.about-job ul li {
	margin-left: 22px;
	float: left;
	list-style: none;
	width: 210px;
	height: 160px;
	padding-top: 5px;
}
.about-job ul li img {
	width: 210px;
	height: 160px;
	border: 1px solid #5E5E5E;
	border-radius: 4px;
	box-shadow: 0 0 5px #363636;
}
 .streets {
 	color: white;
 	border-top: 1px solid #0F1B33;
 	margin-top: 80px;
	background:url(../img/foot_bg.png);
	background-size: 100% auto; 
	height: 250px;
}
.streets div {
	margin-top: 45px;
}
.desc {
	border-top: 1px solid #0F1B33;
	color: white;
	background: #1A2E56;
	height: 80px;
}
.preim h3 {
	color: #3641C1;
}
.preim ul{
	margin-bottom: 10px;
}
.preim ul li {
	margin-left: 20px;
	float: left;
	list-style: none;
}
.preim ul li div img {
	width: 240px;
}
.preim ul li div {
	font-size: 13px;
	width: 300px;
	height: 500px;
	color:#6C6C6C;
	letter-spacing: 1px;
	word-spacing: 0.4em;
	text-align: left;
}
.preim ul li div h2 {
	color: #3641C1;
}

.line {
	margin-top: 5px;
	float: bottom;
	height: 40px;
	background:#D9D9D9;
}

.table-job, .rab, .message {
	margin-top: 50px;
}
.table-job table, .rab table, .message table {
	text-align: center;
	margin: auto;
	color: white;
	text-shadow: black 0 0 3px;
}
.table-job table tr td {
	width: 900px;
	height: 70px;
	border: 1px solid black;
}
.zag td {
	background: #5094C4 !important;
}
.table-job table tr td {
	background: #B2B2B2;
}
.table-job table tr td:first-child {
	background: #5094C4;
}
.table-job table tr td:last-child {
	background: #6DC476;
}
.table-job p, .rab p, .message p {
	font-size: 15px;
	color: #8C8C8C;
	font-style: italic;
}
.rab table tr td {
 	width: 230px;
 	height: 200px;
}
.rab table tr td img {
	border: 1px solid #707070;
	width: 230px;
 	height: 200px;
}
.form-message {
	color: #8C8C8C;
}
.name, .mess {
	font-size: 16px;
	padding-left: 10px;
	color: #606060;
	border-radius: 4px; 
	border: 1px solid #A0A0A0;
	box-shadow: inset 0 0 2px #A0A0A0;
}
.name:focus, .mess:focus {
	box-shadow: inset 0 0 6px #A0A0A0;
	outline: none;
}
.name {
	height: 50px;
	width: 441px;
}
.mess {
	padding-top: 10px;
	margin-top: 10px;
	height: 300px;
	width: 900px;
}
.but {
	font-size: 18px; 
	color: white;
	border-radius: 4px;
	border: 1px solid #A0A0A0;
	width: 300px;
	height: 50px;
	background: #6dc476;
	margin-bottom: 30px;
	cursor: pointer;
}
.but:active {
	outline: none;
}
.but:focus {
	background: #22892C;
	outline: none;
}
